.sidebar {
  width: 250px;
  height: 100vh;
  background: linear-gradient(180deg, #0d3b66, #0b2e4f);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
}

.logo {
  text-align: center;
  margin-bottom: 30px;
}

.logo h2 {
  margin: 0;
}

.logo span {
  font-size: 12px;
  opacity: 0.7;
}

/* MENU */
.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu button {
  background: rgba(255,255,255,0.08);
  border: none;
  color: white;
  padding: 12px;
  border-radius: 12px;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

.menu button:hover {
  background: rgba(255,255,255,0.15);
}

.menu .active {
  background: white;
  color: #0d3b66;
  font-weight: bold;
}

/* BOTTOM */
.bottom {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.danger {
  background: rgba(255,0,0,0.1);
  border: none;
  color: #ff4d4d;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.logout {
  background: white;
  border: none;
  color: black;
  padding: 12px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}
/* VARIAÇÕES DO SIDEBAR */

.sidebar.diretoria {
  background: linear-gradient(180deg, #003366, #00509d);
}

.sidebar.suporte {
  background: linear-gradient(180deg, #1c1c1c, #2b2b2b);
}

.sidebar.financeiro {
  background: linear-gradient(180deg, #0b5d2a, #0f7a38);
}